.layout {
  width: 1440px;
  margin: 0 auto;
  background-color: #fffdf3;
  min-height: 100vh;
  color: #5d4639;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.bg {
  width: 100vw;
  position: fixed;
  z-index: -1;
}

@media (max-width: 1400px) {
  .main {
    width: 900px;
  }
}
